destConfig.json

deploy_results.json
if_list.txt
if_metadata_list_DEV.txt
if_metadata_list_PRD.txt
if_metadata_list_QAS.txt
script_usage.txt
undeploy_result.txt
version_check_result.json

backup/**
download/**
node_modules/**